.tabBox {
  background-color: var(--dodLight) !important;
}

.titulo{
  font-weight: bold;
  color: black;
}

.btn_span {
  opacity: 1 !important;
  transition: .2s !important;
}
.btn_span:hover {
  scale: 1.02;
}