:root {
  --white: #FFF;
  --dodDark: #005596;
  --dodLight: dodgerblue;
 }

.boxMain {
  background-color: var(--dodDark) !important;
}

.title_home {
  color: white !important;
  font-weight: bold !important;
}

.btn_ver_postagem {
  border-color: var(--white) !important;
  background-color: var(--dodLight) !important;
  color: var(--white) !important;
}
.btn_ver_postagem:hover {
  background-color: var(--dodDark) !important;
}

@media screen and (max-width:600px) {
  img {
    display: none;
  }
}
@media screen and (max-width:440px) {
  .boxMain {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .css-l44j74 {
    padding: 0 !important;
  }
}